{% extends "::layout.html.twig" %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('css/datepicker.css') }}" type="text/css" />
  <link rel="stylesheet" href="{{ asset('bundles/sdzblog/css/main.css') }}" type="text/css" />
{% endblock %}

{% block body %}

	<h1>SymfonyBlog</h1>

	<hr>

	{% for key, flash in app.session.getFlashes() %}
		<div class="alert alert-{{ key }}">
			{{ flash }}
		</div>
	{% endfor %}

	{% block sdzblog_body %}
	{% endblock %}

{% endblock %}
